flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "rss-reader",
        "disabled": false,
        "info": "RSS Reader"
    },
    {
        "id": "a44ac9e0.5f86a8",
        "type": "tab",
        "label": "db-admin",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c10c1a61.d89b",
        "type": "tab",
        "label": "web",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e0416e1d.7fff6",
        "type": "tab",
        "label": "email",
        "disabled": false,
        "info": ""
    },
    {
        "id": "5d0b39f8.fb132",
        "type": "sqlitedb",
        "db": "/db/techfeed-monitor.sqlite",
        "mode": "RWC"
    },
    {
        "id": "c6b804cb.64eaf8",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "TechCrunch",
        "url": "https://feeds.feedburner.com/TechCrunch/",
        "interval": "1",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "5018e2e1.8e14bc",
        "type": "switch",
        "z": "3af82246.3634ae",
        "name": "keywords",
        "property": "article.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "artificial intelligence",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "machine learning",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "deep learning",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 470,
        "y": 540,
        "wires": [
            [
                "b5ca7e9a.75ac38"
            ],
            [
                "b5ca7e9a.75ac38"
            ],
            [
                "b5ca7e9a.75ac38"
            ],
            []
        ]
    },
    {
        "id": "b5ca7e9a.75ac38",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "matches",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "90a2263b.3caf58",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "MIT-Tech-Review",
        "url": "https://www.technologyreview.com/topnews.rss",
        "interval": "1",
        "x": 240,
        "y": 540,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "4f5018e8.df20f8",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "Techmeme",
        "url": "https://www.techmeme.com/feed.xml?x=1",
        "interval": "1",
        "x": 220,
        "y": 600,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "73992633.3291a8",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "Tech-Lab-Ars-Technica",
        "url": "http://feeds.arstechnica.com/arstechnica/technology-lab",
        "interval": "1",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "125abd0b.665c03",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "ReadWrite",
        "url": "https://readwrite.com/feed/?x=1",
        "interval": "1",
        "x": 230,
        "y": 740,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "79410a5b.dbcabc",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "VentureBeat",
        "url": "http://feeds.feedburner.com/venturebeat/SZYF",
        "interval": "1",
        "x": 180,
        "y": 820,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "807b51d1.37c13",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "Recode",
        "url": "https://www.vox.com/rss/recode/index.xml",
        "interval": "1",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "ee35527b.ca802",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "Vergecast",
        "url": "https://feeds.megaphone.fm/vergecast",
        "interval": "1",
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "4ae1262.a5cf658",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "Wired",
        "url": "https://www.wired.com/feed/rss",
        "interval": "1",
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "3509caa6.c8af46",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "FreeTech4Teachers",
        "url": "http://feeds.feedblitz.com/freetech4teachers",
        "interval": "1",
        "x": 200,
        "y": 1160,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "f3633242.b2fbc",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "NYTimes-Technology",
        "url": "http://rss.nytimes.com/services/xml/rss/nyt/Technology.xml",
        "interval": "1",
        "x": 230,
        "y": 1240,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "ae198a9a.52e76",
        "type": "http in",
        "z": "c10c1a61.d89b",
        "name": "",
        "url": "/monitor/feed",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "1fdc5671.2d566a"
            ]
        ]
    },
    {
        "id": "323c49a4.29cfee",
        "type": "http response",
        "z": "c10c1a61.d89b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 120,
        "wires": []
    },
    {
        "id": "600cb358.4c9f04",
        "type": "sqlite",
        "z": "a44ac9e0.5f86a8",
        "mydb": "5d0b39f8.fb132",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db",
        "x": 430,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "ebb28b3c.a65e3",
        "type": "inject",
        "z": "a44ac9e0.5f86a8",
        "name": "create-feed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE feed (name, url)",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "600cb358.4c9f04"
            ]
        ]
    },
    {
        "id": "bb62aa88.11d47",
        "type": "inject",
        "z": "a44ac9e0.5f86a8",
        "name": "create-keyword",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE keyword (expression)",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 140,
        "wires": [
            [
                "600cb358.4c9f04"
            ]
        ]
    },
    {
        "id": "4d2b7c42.8b8c3c",
        "type": "inject",
        "z": "a44ac9e0.5f86a8",
        "name": "create-match",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE match (link, title, description, sent, UNIQUE(link))",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "600cb358.4c9f04"
            ]
        ]
    },
    {
        "id": "b47da6d0.f47968",
        "type": "inject",
        "z": "a44ac9e0.5f86a8",
        "name": "delete-feed",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE feed",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "600cb358.4c9f04"
            ]
        ]
    },
    {
        "id": "f6f7307e.e3671",
        "type": "inject",
        "z": "a44ac9e0.5f86a8",
        "name": "delete-keyword",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE keyword",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 340,
        "wires": [
            [
                "600cb358.4c9f04"
            ]
        ]
    },
    {
        "id": "ce02013f.c03068",
        "type": "inject",
        "z": "a44ac9e0.5f86a8",
        "name": "delete-match",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "DROP TABLE match",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "600cb358.4c9f04"
            ]
        ]
    },
    {
        "id": "7f246660.4a7fe8",
        "type": "template",
        "z": "c10c1a61.d89b",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n\n  <head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <title>Feeds</title>\n    <meta name=\"description\" content=\"\">\n    <meta name=\"keywords\" content=\"\">\n    <link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/slate/bootstrap.min.css\" integrity=\"sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ\" crossorigin=\"anonymous\">\n  </head>\n\n  <body>\n\n    <header>\n    </header>\n\n    <main class=\"container\">\n\n      <h1>Feeds</h1>\n      <br>\n      <div class=\"row\">\n\n        <div class=\"col-md-6\">\n          <table class=\"table\">\n            <thead>\n              <tr>\n                <th scope=\"col\">Name</th>\n                <th scope=\"col\">URL</th>\n                <th scope=\"col\"></th>\n              </tr>\n            </thead>\n            <tbody>\n              {{#payload}}\n              <tr>\n                <td>{{name}}</td>\n                <td>{{url}}</td>\n                <td><a href=\"/monitor/feed/delete/{{rowid}}\" class=\"btn btn-danger\">Remove</a></td>\n              </tr>\n              {{/payload}}\n            </tbody>\n          </table>\n        </div>\n\n        <div class=\"col-md-6\">\n          <form method=\"POST\" action=\"/monitor/feed\">\n            <label for=\"name\">Name</label>\n            <input type=\"text\" class=\"form-control\" id=\"name\" name=\"name\" />\n            <label for=\"url\">URL</label>\n            <input type=\"text\" class=\"form-control\" id=\"url\" name=\"url\" />\n            <button type=\"submit\" class=\"btn btn-primary\">Add</button>\n          </form>\n        </div>\n\n      </div>\n    </main>\n\n    <footer>\n    </footer>\n\n  </body>\n\n</html>\n",
        "output": "str",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "323c49a4.29cfee"
            ]
        ]
    },
    {
        "id": "2373cb03.715aec",
        "type": "comment",
        "z": "a44ac9e0.5f86a8",
        "name": "create tables",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "4cbb806.3fb3b",
        "type": "comment",
        "z": "a44ac9e0.5f86a8",
        "name": "drop tables",
        "info": "",
        "x": 160,
        "y": 260,
        "wires": []
    },
    {
        "id": "1fdc5671.2d566a",
        "type": "sqlite",
        "z": "c10c1a61.d89b",
        "mydb": "5d0b39f8.fb132",
        "sqlquery": "fixed",
        "sql": "SELECT rowid, * FROM feed",
        "name": "db",
        "x": 350,
        "y": 120,
        "wires": [
            [
                "7f246660.4a7fe8"
            ]
        ]
    },
    {
        "id": "dd763bbe.c88c2",
        "type": "debug",
        "z": "c10c1a61.d89b",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "2838eb1e.180e3c",
        "type": "http in",
        "z": "c10c1a61.d89b",
        "name": "",
        "url": "/monitor/feed",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 340,
        "wires": [
            [
                "a69672c5.913dc"
            ]
        ]
    },
    {
        "id": "a69672c5.913dc",
        "type": "template",
        "z": "c10c1a61.d89b",
        "name": "insert",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "INSERT INTO feed VALUES('{{payload.name}}', '{{{payload.url}}}')",
        "output": "str",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "f8690576.84eb98"
            ]
        ]
    },
    {
        "id": "f8690576.84eb98",
        "type": "sqlite",
        "z": "c10c1a61.d89b",
        "mydb": "5d0b39f8.fb132",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "db",
        "x": 570,
        "y": 380,
        "wires": [
            [
                "1fdc5671.2d566a"
            ]
        ]
    },
    {
        "id": "b1ab2817.2ee68",
        "type": "http in",
        "z": "c10c1a61.d89b",
        "name": "",
        "url": "/monitor/feed/delete/:rowid",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 440,
        "wires": [
            [
                "f62937b0.3e453"
            ]
        ]
    },
    {
        "id": "f62937b0.3e453",
        "type": "template",
        "z": "c10c1a61.d89b",
        "name": "delete",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "DELETE FROM feed WHERE rowid = {{req.params.rowid}}",
        "output": "str",
        "x": 390,
        "y": 440,
        "wires": [
            [
                "f8690576.84eb98"
            ]
        ]
    },
    {
        "id": "19baa07c.f5ec88",
        "type": "e-mail",
        "z": "e0416e1d.7fff6",
        "server": "${SMTP_SERVER}",
        "port": "${SMTP_PORT}",
        "secure": true,
        "tls": true,
        "name": "${EMAIL_TO}",
        "dname": "email",
        "x": 450,
        "y": 180,
        "wires": []
    }
]