flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "rss-reader",
        "disabled": false,
        "info": "RSS Reader"
    },
    {
        "id": "c10c1a61.d89b",
        "type": "tab",
        "label": "hello",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a44ac9e0.5f86a8",
        "type": "tab",
        "label": "db-admin",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c6b804cb.64eaf8",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "TechCrunch",
        "url": "https://feeds.feedburner.com/TechCrunch/",
        "interval": "1",
        "x": 230,
        "y": 480,
        "wires": [
            [
                "b264d03e.08a988",
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "b264d03e.08a988",
        "type": "debug",
        "z": "3af82246.3634ae",
        "d": true,
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 440,
        "wires": []
    },
    {
        "id": "5018e2e1.8e14bc",
        "type": "switch",
        "z": "3af82246.3634ae",
        "name": "keywords",
        "property": "article.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "artificial intelligence",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "machine learning",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "deep learning",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 470,
        "y": 540,
        "wires": [
            [
                "b5ca7e9a.75ac38"
            ],
            [
                "b5ca7e9a.75ac38"
            ],
            [
                "b5ca7e9a.75ac38"
            ],
            []
        ]
    },
    {
        "id": "b5ca7e9a.75ac38",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "matches",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "90a2263b.3caf58",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "MIT-Tech-Review",
        "url": "https://www.technologyreview.com/topnews.rss",
        "interval": "1",
        "x": 240,
        "y": 540,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "4f5018e8.df20f8",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "Techmeme",
        "url": "https://www.techmeme.com/feed.xml?x=1",
        "interval": "1",
        "x": 220,
        "y": 600,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "73992633.3291a8",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "Tech-Lab-Ars-Technica",
        "url": "http://feeds.arstechnica.com/arstechnica/technology-lab",
        "interval": "1",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "125abd0b.665c03",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "ReadWrite",
        "url": "https://readwrite.com/feed/?x=1",
        "interval": "1",
        "x": 230,
        "y": 740,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "79410a5b.dbcabc",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "VentureBeat",
        "url": "http://feeds.feedburner.com/venturebeat/SZYF",
        "interval": "1",
        "x": 180,
        "y": 820,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "807b51d1.37c13",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "Recode",
        "url": "https://www.vox.com/rss/recode/index.xml",
        "interval": "1",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "ee35527b.ca802",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "Vergecast",
        "url": "https://feeds.megaphone.fm/vergecast",
        "interval": "1",
        "x": 170,
        "y": 1000,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "4ae1262.a5cf658",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "Wired",
        "url": "https://www.wired.com/feed/rss",
        "interval": "1",
        "x": 180,
        "y": 1080,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "3509caa6.c8af46",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "FreeTech4Teachers",
        "url": "http://feeds.feedblitz.com/freetech4teachers",
        "interval": "1",
        "x": 200,
        "y": 1160,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "f3633242.b2fbc",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "NYTimes-Technology",
        "url": "http://rss.nytimes.com/services/xml/rss/nyt/Technology.xml",
        "interval": "1",
        "x": 230,
        "y": 1240,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "ae198a9a.52e76",
        "type": "http in",
        "z": "c10c1a61.d89b",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "117aa462.af7684"
            ]
        ]
    },
    {
        "id": "117aa462.af7684",
        "type": "change",
        "z": "c10c1a61.d89b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"text\":\"Hello\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "323c49a4.29cfee"
            ]
        ]
    },
    {
        "id": "323c49a4.29cfee",
        "type": "http response",
        "z": "c10c1a61.d89b",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 500,
        "y": 120,
        "wires": []
    }
]