flows.json
[
    {
        "id": "3af82246.3634ae",
        "type": "tab",
        "label": "rss-reader",
        "disabled": false,
        "info": "RSS Reader"
    },
    {
        "id": "c6b804cb.64eaf8",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "TechCrunch",
        "url": "https://feeds.feedburner.com/TechCrunch/",
        "interval": "1",
        "x": 240,
        "y": 480,
        "wires": [
            [
                "b264d03e.08a988",
                "5018e2e1.8e14bc"
            ]
        ]
    },
    {
        "id": "b264d03e.08a988",
        "type": "debug",
        "z": "3af82246.3634ae",
        "d": true,
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 440,
        "wires": []
    },
    {
        "id": "5018e2e1.8e14bc",
        "type": "switch",
        "z": "3af82246.3634ae",
        "name": "keywords",
        "property": "article.summary",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "artificial intelligence",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "machine learning",
                "vt": "str",
                "case": true
            },
            {
                "t": "regex",
                "v": "deep learning",
                "vt": "str",
                "case": true
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 470,
        "y": 540,
        "wires": [
            [
                "b5ca7e9a.75ac38"
            ],
            [
                "b5ca7e9a.75ac38"
            ],
            [
                "b5ca7e9a.75ac38"
            ],
            []
        ]
    },
    {
        "id": "b5ca7e9a.75ac38",
        "type": "debug",
        "z": "3af82246.3634ae",
        "name": "matches",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 540,
        "wires": []
    },
    {
        "id": "90a2263b.3caf58",
        "type": "feedparse",
        "z": "3af82246.3634ae",
        "name": "MIT-Tech-Review",
        "url": "https://www.technologyreview.com/topnews.rss",
        "interval": "1",
        "x": 240,
        "y": 540,
        "wires": [
            [
                "5018e2e1.8e14bc"
            ]
        ]
    }
]